html {
  background-color: #G4G4G4;
}
header {
  background: #F3F3F3
  font-family: cursive;
  padding-top: 10px
  height: 85px
}
.sectionMain{
  display: inline-block;
  width: calc(100% / 3);
  margin: 5% 0;
  margin-left: calc((100% / 3) / 3);
  font-family: 'ariel', sans-serif;
  color: black;
  font-size: 20px;
  text-align: center;
}

h1 {
    font-family: "cursive";
    color: #ff8b31;
}

h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #5a1d1d;
}

body {
    background-color: lightblue;
    max-width: 960px;
    margin: 0px auto;
}
